version: '3.9'

services:
  server:
    build: ./server
    ports:
      - '3001:3001'
      - '8080:8080'
    environment:
      - PORT=3001
      - WS_PORT=8080
      - ALLOWED_ORIGINS=http://localhost,http://localhost:80,http://127.0.0.1,http://127.0.0.1:80,http://localhost:4173,http://localhost:5174

  client:
    build: ./client
    ports:
      - '80:80'
    depends_on:
      - server
